.ant-list-item-meta-description{
    font-size: 10px !important;
}
.ant-list-item-meta-avatar{
margin-inline-end: 0px !important;
}
.ant-list-item-action{
    margin-inline-start:20px !important;
}
.ant-list-item{
    padding: 0px !important;
}
.css-2mmc7w{
    padding:0px !important;
}